name: showips

on:
  workflow_dispatch:

permissions:
  actions: write
  contents: read

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: 100 IPs
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
        run: |
          WORKFLOW_FILE="showip.yml"   # 这里改成目标 workflow 文件名

          for i in $(seq 1 100)
          do
            echo "Trigger #$i"

            curl -X POST \
              -H "Authorization: Bearer $GH_TOKEN" \
              -H "Accept: application/vnd.github+json" \
              https://api.github.com/repos/$REPO/actions/workflows/$WORKFLOW_FILE/dispatches \
              -d '{"ref":"main"}'

          done
